<h2>Trucks</h2>
<button mat-button color="primary" (click)="openDialog()">Add Truck</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="trucks" class="mat-elevation-z8">

    <!-- Columna ID -->
    <ng-container matColumnDef="truckId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let truck">{{ truck.truckId }}</td>
    </ng-container>

    <!-- Columna Make -->
    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef>Make</th>
      <td mat-cell *matCellDef="let truck">{{ truck.make }}</td>
    </ng-container>

    <!-- Columna Model -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let truck">{{ truck.model }}</td>
    </ng-container>

    <!-- Columna VIN -->
    <ng-container matColumnDef="vin">
      <th mat-header-cell *matHeaderCellDef>VIN</th>
      <td mat-cell *matCellDef="let truck">{{ truck.vin }}</td>
    </ng-container>

    <!-- Columna Color -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>Color</th>
      <td mat-cell *matCellDef="let truck">{{ truck.color }}</td>
    </ng-container>

    <!-- Columna Year -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let truck">{{ truck.year }}</td>
    </ng-container>

    <!-- Columna Tire -->
    <ng-container matColumnDef="tire">
      <th mat-header-cell *matHeaderCellDef>Tire</th>
      <td mat-cell *matCellDef="let truck">{{ truck.tire }}</td>
    </ng-container>

    <!-- Columna para Botones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let truck">
        <button mat-button color="primary" (click)="openDialog(truck)">Edit</button>
        <button mat-button color="warn" (click)="deleteTruck(truck.truckId)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
